body {
    background-color: #161649;
}    

.wrapper {
    display: flex;
    background-color: #fff;
    
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    justify-content: center;
    margin-left: 10%;
}

#submit {
    width: 100px;
    height: 50px;
}

#quiz {
    padding-top:20px;;
}